.dummy{}
html{color: #000000;}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote{margin:0;	padding:0;}
table{}
fieldset, img{ border:0;}
address, caption, cite, code, dfn, em, strong, var{	font-weight:normal;}
h1, h2, h3, h4, h5, h6{ font-size: 100%; font-weight:normal;}
q:before, q:after{content: '';}
abbr, acronym{border: 0; font-variant:normal;}
input, textarea, select{ font-family:inherit; font-size: inherit; font-weight:inherit;}
legend{	color: #000;}
strong{	font-weight: bold;}
a{ outline:none; color:#5f5f5f;}
a:hover{ text-decoration:none; color:#004777;}


/* Normalizing Styles
-----------------------------------------------------------------------------*/
body{ font-family:Georgia; color:#5f5f5f; margin:0; text-align:left; }
h1{ width:555px; display:block; font-size:1.1em; padding:0 0 12px 0; color:#5f5f5f; font-weight:bold; font-family:Georgia; }
h2{ width:555px; display:block; font-size:0.90em; padding:12px 0; color:#5f5f5f; font-weight:bold; font-family:Georgia; }
h3{ clear:both; display:block; font-size:0.80em; padding:0 0 12px 0; color:#5f5f5f; font-weight:bold; font-family:Georgia; }
h4{ clear:both; display:block; font-size:0.75em; padding:0 0 12px 0; color:#5f5f5f; font-weight:bold; font-family:arial;}
.clear{ clear:both;}
.img-left{ width:auto; float:left; padding:0 10px 0 0;}
.img-right{ width:auto; float:right; padding: 0 0 15px 10px;}


/* Body Styles
-----------------------------------------------------------------------------*/
#container{ width:1000px; margin:0 auto; background:url(../images/middle-bg.jpg) repeat-y;}
#top-bg{
	width:959px;
	float:left;
	background:url(../images/top-bg.jpg) top no-repeat;
	padding:0 20px 0 21px;
}
#footer-middle-bg{ width:1000px; float:left; background: url(../images/middle-footer-bg.jpg) bottom no-repeat; }


/* Top Styles
-----------------------------------------------------------------------------*/
#top-main{ width:959px; height:103px; float:left;}
.logo{ width:193px; float:left; padding:31px 0 0 18px;}
.logo h1{ clear:both; width:193px; display:block;}
.logout{ width:80px; height:18px; float:right; padding:13px 0 0 0; font-size:0.70em;}
.search{ width:152px; float:right; height:31px; padding:0 21px 0 0; background: url(../images/search-bg.gif) left bottom no-repeat;  font-size:0.70em;} 
.search-text{ width:40px; height:18px; float:left; padding:13px 0 0 0;}
.search-box{ width:110px; height:19px; float:left; padding:12px 0 0 2px;}
.text-box{ width:107px; height:16px; border:0px; background:none; font-family:Georgia; font-size:1em; color:#5f5f5f;}


/* Top Menu Styles
-----------------------------------------------------------------------------*/
#top-menu{ width:734px; height:27px; float:left; padding:30px 0px 15px 14px;}
#top-menu ul{ margin:0px; padding:0px; height:27px;}
#top-menu li {list-style:none; display:block; float:left; color:#525252; font-size:0.90em; }
#top-menu li a { color:#525252; text-decoration:none; margin:0 0 0 40px;}
#top-menu li a:hover,
#top-menu li a.act-top { background:url(../images/menu-hover.gif) bottom repeat-x;}


/* Header Styles
-----------------------------------------------------------------------------*/
#flash-header{ width:959px; height:311px; float:left; background:url(../images/home-header.jpg) no-repeat;}


/* Content Styles
-----------------------------------------------------------------------------*/
#content-main{ width:919px; float:left; padding:20px; font-family:arial;}
#content-main h2{ width:290px; font-family:Georgia; clear:both; display:block; font-size:1em; padding:0 0 5px 8px; color:#5f5f5f; font-weight:bold; }
#content-main p { line-height:16px; padding:0 0 3px 0; font-size:0.70em;}

#content-main ul{ margin:0px; padding:0px;}
#content-main li {list-style:none; display:block; font-size:0.70em; color:#074686; line-height:16px;}
#content-main li a { color:#074686; text-decoration:none;}
#content-main li a:hover { color:#074686; text-decoration:underline;}

.con-box-left{ width:306px; height:220px; float:left; background:url(../images/box-seprater.gif) top right no-repeat;}
.con-box-right{ width:307px; height:220px; float:left;}
.box-content{ width:auto; padding:0 8px 0 8px;}


/* Subpages Styles
-----------------------------------------------------------------------------*/
#sub-content{ width:959px; float:left; padding:18px 0 0 0;}
#sub-left{width:160px; float:left; padding:18px 0 0 20px; font-family:arial; background:url(../images/left-menu-bg.jpg) right top no-repeat;}
#sub-left ul{ margin:0px; padding:0px;}
#sub-left li { list-style:none; display:block; font-size:0.75em; color:#5f5f5f; line-height:28px; border-bottom:#afafaf solid 1px; margin:0 1px 0 0;}
#sub-left li a { color:#5f5f5f; display:block; text-decoration:none; width:159px;}
#sub-left li a:hover,
#sub-left li a.act-left { color:#5f5f5f; font-weight:bold; background:url(../images/left-menu-over.jpg) right repeat-y;}

.sub-left2 {width:160px; float:left;}
.sub-left2 ul{ margin:0px; padding:0px;}
#sub-left .sub-left2 li { list-style:none; display:block; font-size:0.70em; color:#5f5f5f; line-height:28px; border-bottom:#afafaf solid 1px; margin:0 1px 0 0; padding:0 0 0 10px;}
#sub-left .sub-left2 li a { color:#5f5f5f; display:block; text-decoration:none; width:149px;}
#sub-left .sub-left2 li a:hover,
#sub-left .sub-left2 li a.act-left { color:#5f5f5f; font-weight:normal; background:url(../images/left-menu-over.jpg) right repeat-y;}

#world-map{ width:916px; height:499px; float:left; padding:0 21px 0 22px; background:url(../images/worldwide-map.jpg) center top no-repeat;}


#sub-right{ width:735px; float:left; padding:0 22px;}
#sub-right1{ width:744px; float:left; padding:0 10px 0 22px;}
#sub-right2{ width:555px; float:left; padding:0 0px;}
#sub-middle{ width:555px; float:left;}


.sub-georgia{ width:533px; float:left; font-size:0.90em; padding:0 22px 0 0; }
.sub-georgia p{line-height:20px; padding:0 0 10px 0;}

.sub-georgia1{ width:735px; float:left; font-size:0.90em;}
.sub-georgia1 p{line-height:20px; padding:0 0 10px 0;}

.sub-arial1{ width:735px; float:left; font-size:0.60em; font-family:arial;}
.sub-arial1 p{line-height:18px; padding:0 0 10px 0;}

.sub-arial{width:555px; font-family:arial; float:left;}
.sub-arial p{
	line-height:16px;
	padding:0 0 8px 0;
	font-size:0.8em;
}
.sub-arial ul{ margin:0px; padding:0 0 10px 0;}
.sub-arial li {list-style:none; display:block; font-size:0.70em; color:#074686; line-height:16px; }
.sub-arial li a { color:#074686; text-decoration:none;}
.sub-arial li a:hover { color:#074686; text-decoration:underline;}

.sub-arial-bullet { width:555px; font-family:arial; float:left;}
.sub-arial-bullet p {
	line-height:16px;
	padding:0 0 8px 0;
	font-size:0.8em;
}
.sub-arial-bullet ul{ margin:0px; padding:0 0 10px 20px;}
.sub-arial-bullet li {
	font-size:0.8em;
	color:#5f5f5f;
	line-height:18px;
}
.sub-arial-bullet li a { color:#5f5f5f; text-decoration:underline;}
.sub-arial-bullet li a:hover {
	color:#5f5f5f;
	text-decoration:underline;
}


#sub-right-box{width:779px; float:left; font-family:Arial; line-height:16px;}
#sub-right-box ul{ margin:0px; padding:5px 0 10px 0;}
#sub-right-box li {list-style:none; display:block; color:#074686; line-height:16px;}
#sub-right-box li a { color:#074686; text-decoration:none;}
#sub-right-box li a:hover { color:#074686; text-decoration:underline;}

.box-left{ width:254px; float:left; padding:0 0 0 10px;}
.box-mid{ width:250px; float:left;}
.box-right{ width:254px; float:left;}

.metal-min{width:235px; height:183px; float:left; background:url(../images/metal-box-bg.jpg) top no-repeat; padding:0 7px 0 12px;}
.metal-min-img{ width:225px; height:30px; float:left; color:#fff; padding:153px 0 0 10px; font-family:Georgia; line-height:26px;  font-size:1.2em; background: url(../images/metal-img.jpg) top no-repeat;}
.metal-min-con{ width:211px; height:118px; float:left; padding:8px 21px; background:url(../images/metal-box-bg1.jpg) bottom no-repeat; font-size:0.70em;}

.energy-pro{width:235px; height:183px; float:left; background:url(../images/energy-product-box-bg.jpg) top no-repeat; padding:0 7px 0 8px;}
.energy-pro-img{ width:225px; height:30px; float:left; color:#fff; padding:153px 0 0 10px; line-height:26px;  font-family:Georgia; font-size:1.2em; background: url(../images/energy-img.jpg) top no-repeat;}
.energy-pro-con{width:214px; height:118px; float:left; padding:8px 18px; background:url(../images/energy-product-box-bg1.jpg) bottom no-repeat; font-size:0.70em;}

.agricul-pro{width:235px; height:183px; float:left; background:url(../images/agricultural-box-bg.jpg) top no-repeat; padding:0 11px 0 6px;}
.agricul-pro-img{ width:225px; height:30px; float:left; color:#fff; padding:153px 0 0 10px; line-height:26px; font-family:Georgia; font-size:1.2em; background: url(../images/agriculture-img.jpg) top no-repeat;}
.agricul-pro-con{width:211px; height:118px; float:left; padding:8px 28px 8px 15px; background: url(../images/agricultural-box-bg1.jpg) bottom no-repeat; font-size:0.70em;}

.learn-more{ width:auto; float:left; background:url(../images/arrow.gif) right no-repeat; padding:0 21px 0 21px; font-size:0.70em;}
.learn-more a{ color:#5f5f5f; text-decoration:none;}
.learn-more a:hover{text-decoration:underline;}

.learn-more1{ width:auto; float:left; background:url(../images/arrow.gif) right no-repeat; padding:0 21px 0 19px; font-size:0.70em;}
.learn-more1 a{ color:#5f5f5f; text-decoration:none;}
.learn-more1 a:hover{text-decoration:underline;}

.about-right-img{width:158px; height:383px; float: right; padding:0 11px; background: url(../images/about-gln-img-bg.jpg) top no-repeat;} 

#mopani-left{ width:382px; float:left; padding:4px 8px 0 12px;}
#mopani-left p{ line-height:16px; padding:0 11px 10px 9px; display:block; font-size:0.70em;}
.mopani-img{width:362px; height:238px; float: left; padding:0 11px 12px 9px; background: url(../images/mopani-copper-img-bg.jpg) top no-repeat;} 

#mopani-right{ width:353px; float:left; border:#a3a3a3 solid 1px; font-family:arial; border-bottom:0px; line-height:18px; font-size:0.70em;}
.mopani-grey-box-left{ width:158px; float:left; padding:10px 9px; background:#f8f8f8; border-right:#a3a3a3 solid 1px; border-bottom:#a3a3a3 solid 1px; font-weight:bold;}
.mopani-grey-box-right{ width:158px; float:left; padding:10px 9px; background:#f8f8f8; border-bottom:#a3a3a3 solid 1px;}
.mopani-white-box-left{ width:158px; float:left; padding:10px 9px; font-weight:bold; border-right:#a3a3a3 solid 1px; border-bottom:#a3a3a3 solid 1px; font-weight:bold;}
.mopani-white-box-right{ width:158px; float:left; padding:10px 9px; border-bottom:#a3a3a3 solid 1px; }

.investor-pdf-wht{ width:535px; float:left; border-bottom:#aaa solid 1px; padding:7px 10px; font-family:arial; color:#999;  font-size:0.75em;}
.investor-pdf-grey{ width:535px; float:left; border-bottom:#aaa solid 1px; background:#f8f8f8; padding:7px 10px; font-family:arial; color:#999;  font-size:0.75em;}
.investor-left-text{ width:445px; float:left; color:#5F5F5F; font-weight:bold;}
.investor-right-text{ width:90px; float:left; font-weight:bold; padding-bottom: 5px;}
.investor-right-img{ width:90px; float:left; padding:7px 0 0 0; }
.grey{color:#999;}
.grey-nor{color:#999; font-weight:normal;}


/* Sub Part Menu Styles
-----------------------------------------------------------------------------*/
#sub-navigation{width:555px; height:25px; float:left; margin:5px 0 0 0; background:url(../images/sub-menu-line.gif) repeat-x;}
.tabs{ list-style:none;	display:block; height:25px;	margin:0; padding:0;}
.tabs li{ float:left; padding-right:3px; }
.tabs li a{	display:block; font-family: Georgia; text-decoration:none; color:#333; text-decoration:none; font-size:0.70em;}
.tabs li a em{ display:block; height:25px; line-height:25px; float:left; font-style:normal; font-weight:bold; padding:0px 9px 0 7px; background:url(../images/3-menu-img.gif) no-repeat right bottom; z-index:100;}
.tabs li a span{ display:block; float:left; width:5px;	height:25px; background:url(../images/3-menu-img.gif) left bottom; z-index:200; }

/* hover*/
.tabs li a:hover{cursor:pointer; color:#333; text-decoration:none;}
.tabs li a:hover em{background:url(../images/3-menu-img.gif) no-repeat right top;}
.tabs li a:hover span{background:url(../images/3-menu-img.gif) no-repeat left top; }

/* active*/
.tabs li a.active{cursor:default; color:#333;}
.tabs li a.active em,
.tabs li a.active:hover em{background-position:right top;}
.tabs li a.active span,
.tabs li a.active:hover span{background-position:left top;}


/* Footer Styles
-----------------------------------------------------------------------------*/
#footer-main{width:919px; float:left; color:#8d8d8d; font-family:arial; padding:20px 20px 38px 20px;  font-size:0.70em; }
.copyright{ width:auto; float:left;}
.footer-link{ width:auto; float:right;}
.footer-link ul{ margin:0px; padding:0px;}
.footer-link li {list-style:none; display:block; float:left; color:#8d8d8d; line-height:16px;}
.footer-link li a { color:#8d8d8d; text-decoration:none; padding:0 5px;}
.footer-link li a:hover { color:#8d8d8d; text-decoration:underline;}


/* Investor Data Table Styles
-----------------------------------------------------------------------------*/
#sub-right table {width:735px; border-collapse:collapse; margin:0px 0px 20px 0px; font-family:arial; color:#999; font-size:0.70em;}
#sub-right table thead tr th, table.dividend thead tr th {text-align:left; padding:2px 11px; border-bottom:#aaa solid 1px;}
#sub-right table tbody tr th, table.dividend tbody tr th {text-align:left; padding:6px 11px; font-weight:bold; color:#666; border-bottom:#aaa solid 1px;}
#sub-right table thead tr td, table.dividend thead tr td {text-align:left; padding:6px 11px; border-bottom:#aaa solid 1px;}
#sub-right table tbody tr td, table.dividend tbody tr td {text-align:left; padding:6px 11px; color:#666; border-bottom:#aaa solid 1px;} 
.table-bg{ background:#f8f8f8;}

#sub-right2 table {width:555px; border-collapse:collapse; margin:0px 0px 20px 0px; font-family:arial; color:#999; font-size:0.70em;}
#sub-right2 table thead tr th, table.dividend thead tr th {text-align:left; padding:2px 11px; border-bottom:#aaa solid 1px;}
#sub-right2 table tbody tr th, table.dividend tbody tr th {text-align:left; padding:6px 11px; font-weight:bold; color:#666; border-bottom:#aaa solid 1px;}
#sub-right2 table thead tr td, table.dividend thead tr td {text-align:left; padding:6px 11px; border-bottom:#aaa solid 1px;}
#sub-right2 table tbody tr td, table.dividend tbody tr td {text-align:left; padding:6px 11px; color:#666; border-bottom:#aaa solid 1px;} 
.table-bg{ background:#f8f8f8;}

.email-text{ width:555px; float:left; padding:30px 0; font-family:arial; font-size:0.70em;}
.adobe-reader{ width:735px; float:left; padding:30px 0; font-family:arial;}
.reader-icon{ width:auto; float:left; padding:0 20px 0 0;}
.reader-text{ width:auto; float:left; font-size:0.70em; }
.reader-text a{ color:#004990; text-decoration:none;}


/* Skip Styles
-----------------------------------------------------------------------------*/
#skip-links{display:none;}


img.photo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

td.chairman{
	background-color: #998370;
	color: white;
	padding: 10px;
	vertical-align:text-top;
}

td.executive{
	background-color: #985456;
	color: white;
	padding: 10px;
	vertical-align:text-top;
}

td.nonExecutive{
	background-color: #85A4B7;
	color: white;
	padding: 10px;
	vertical-align:text-top;
}

td.chairman ul, td.executive ul, td.nonExecutive ul{
	font-size: 0.7em;
	padding-left: 1.5em;
}

.name{
	font-weight: bold;
	font-style: italic;
	font-size:0.8em;
}

.title{
	font-weight: bold;
	font-style: italic;
	font-size:0.8em;
}

.board{
	float: left;
	padding-right: 1em;
}

table#shareholder th {
	vertical-align: text-top;
	width: 35%;
}

table#shareholder th,  table#shareholder td{
	padding: 10px;
}

ol#longevity li {
	margin-top: 12px;
	vertical-align: top;
}

ol#longevity li h2 {
	padding-top: 0px;
}

dl#longevity dt {
	font-weight: bold;
	float: left;
	margin-right: .4em;
}

dl#longevity dd {
	margin-bottom: 0.5em;
}

a:hover
{
    cursor: pointer;
}

div.iframe-link {
position: relative;
float: left;
width: 250px;
height: 60px;
margin: 0 1em 1em 0;
}
a.iframe-link {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}